/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
}

body {
  background: linear-gradient(
    to bottom,
    #edf6fb,
    #f8f8f8
  );

  font-family: Arial, sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(135deg, #d9eef8, #b8dbe9);
  padding: 40px;
  text-align: center;
}

.header h1 {
  font-size: 42px;
  color: #083d77;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  color: #333;
}

.source-select {
  padding: 14px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.generate-btn {
  padding: 10px 2pc;
  background: #d7af49;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;

  transition: 0.3s;
}

.generate-btn:hover {
  transform: translateY(-2x);
}

.generate-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.control-box {
  margin: 30px auto;
  width: 700px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

.summary-card {
  background: white;
  width: 850px;
  margin: 30px auto;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

  animation: fadeIn 0.5s ease;
}
.summary-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #083d77;
}

.summary-meta {
  margin-bottom: 20px;
}

.summary-meta span {
  background: #d8f2df;
  padding: 8px 14px;
  border-radius: 20px;
}

.summary-card p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.summary-card ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.summary-card li {
  margin-bottom: 10px;
}

.footer {
  margin-top: 160px;
  padding: 20px;
  text-align: center;
  color: gray;
  border-top: 1px solid #eee;
  background: white;
}

.page-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

.error-box {
  margin: 20px auto;
  width: 500px;
  background: #ffe5e5;
  color: #d32f2f;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.loading-box {
  margin-top: 20px;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;

  border: 4px solid #ddd;
  border-top: 4px solid #083d77;

  border-radius: 50%;

  margin: 0 auto 15px auto;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.back-btn {
  margin: 30px auto;
  display: block;

  padding: 10px 20px;

  border: none;

  background: #083d77;
  color: white;

  border-radius: 8px;
}
